<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<!-- Website CSS style -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        {% load static %}
		<link rel="stylesheet" href="{% static 'base.css' %}">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Available Rooms</h5>
					<div class="col-sm-10 room-availability-table">
						<table class="table table-hover">
						<thead>
						  <tr>
							<th>Room</th>
							<th>Floor</th>
							<th>Availability</th>
						  </tr>
						</thead>
						<tbody>
						{% for room in meeting_rooms %}
						<tr>
							<td>{{ room.details.name }}</td>
							<td>{{ room.details.floor }}</td>
							<td>{% if room.availability %}<span class="glyphicon glyphicon-ok"></span>
								{% else %}<span class="glyphicon glyphicon-remove"></span>
								{% endif %}
								&nbsp;{{ room.availability }}</td>
						  </tr>
                        {% endfor %}
						</tbody>
					  </table>

                    </div>
				</div>
			</div>
		</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>