<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Website CSS style -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        {% load static %}
		<link rel="stylesheet" href="{% static 'base.css' %}">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

		<title>Admin</title>
	</head>
	<body class="grey lighten-3">
		<div class="container">
            <div class="row header-row">
                <div class="header">Real Time Room Availability</div>
            </div>


            <div class="row">

                <form method="get" id="date-form" style="padding-top:2%;">
                  <div class="col-sm-offset-3 col-sm-4"> <!-- Date input -->
                    <label class="control-label" for="date">Choose Date:</label>
                    <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="date"/>
                  </div>
                  <div class="col-sm-2" style="padding-top:35px;"> <!-- Submit button -->
                    <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                  </div>
                 </form>
            </div>
            <div id="meeting-details"></div>

		</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    {% load static %}
    <script src="{% static 'base.js' %}" type="text/javascript"></script>
	</body>
</html>