
			<div class="row main page-layout">
				<div class="main-login main-center">
				<h3>Planned Meetings</h3>
                        {% for meeting in meetings %}
                        <div class="col-sm-4 room-availability-table detail-card">
                            <div class="card meeting-card">
                              <div class="card-block">
                                <h4 class="card-title">{{meeting.room}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted meeting-timing">{{meeting.start_time}}-{{meeting.end_time}}</h6>
                                {% for presence in meeting.presence %}
                                  <div class="row user-detail">
                                  <span class="col-sm-6 card-text user-presence">{{presence.user}}</span> <span class="col-sm-6 presence">{{presence.presence}}</span>
                                  <br>
                                  </div>
                              {% endfor %}
                              </div>
                            </div>
                        </div>
                        {% endfor %}
				</div>
			</div>

            <div class="row main">
				<div class="main-login main-center">
				<h3>Unplanned Meetings</h3>
                        {% if unplanned %}
                        <div class="col-sm-4 room-availability-table detail-card">
                            <div class="card meeting-card">
                              <div class="card-block">
                                <!--<h4 class="card-title">{{meeting.id}}</h4>-->
                                  {% for meeting in unplanned %}
                                <h4  class="card-subtitle mb-2 text-muted meeting-timing">{{meeting.meeting_room}}</h4>

                                  <div class="row user-detail">
                                  <span class="col-sm-4 card-text user-presence">{{meeting.user}}</span> <span class="col-sm-8 presence">{{meeting.in_time}}-{{meeting.out_time}}</span>
                                  <br>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                        {% endif %}
				</div>
			</div>